[build-system]
requires = ["poetry-core >=1,<2"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "nitrokey"
version = "0.1.0"
description = "Nitrokey Python SDK"
authors = ["Nitrokey <pypi@nitrokey.com>"]
license = "Apache-2.0 or MIT"
readme = "README.md"
repository = "https://github.com/Nitrokey/nitrokey-sdk-py"
classifiers = [
    "Intended Audience :: Developers",
]
packages = [
    { include = "nitrokey", from = "src" },
]

[tool.poetry.dependencies]
fido2 = "^1.1.2"
python = "^3.9"
requests = "^2"
semver = "^3"
tlv8 = "^0.10"

# lpc55
spsdk = ">=2,<2.3"

# nrf52
ecdsa = "^0.19"
protobuf = "^5.26"
pyserial = "^3.5"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^24.3"
fake-winreg = "^1.6"
flake8 = "^7.1"
isort = "^5.13.2"
mypy = "^1.4"
types-protobuf = "^5.26"
types-requests = "^2.32"

[tool.black]
target-version = ["py39"]

[tool.isort]
py_version = "39"
profile = "black"

[tool.mypy]
mypy_path = "stubs"
show_error_codes = true
python_version = "3.9"
strict = true
